{% extends 'base.html.twig' %}

{% block title %}Nuevo restaurante{% endblock %}

{% block body %}
    <h1>Crear nuevo restaurante</h1>

    {{ include('restaurante/_form.html.twig') }}

    <a href="{{ path('restaurante_index') }}" class="volver">Volver a la lista</a>
{% endblock %}
